.circle {
  @media only screen and (max-width: 767px) {
    display: none;
  }
  z-index: 10;
  position: absolute;
  left: calc(50% - 265px);
  top: calc(50% - 265px);
  width: 530px;
  height: 530px;
  border: 1px solid var(--blue-2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  height: 56px;
  width: 56px;
  background-color: var(--white-1);
  border-radius: 50%;
  border: 1px solid var(--blue-5);
  font: var(--typo-h3);
  position: absolute;
  transform-origin: center center;

  &__name {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 73px;
    color: var(--blue-4);
    font: var(--typo-h5);
  }
}
.dot {
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
  position: absolute;
  transform-origin: center center;
}
