.swiperContainer {
  position: fixed;
  bottom: 20px;
  width: 100%;

  @media only screen and (max-width: 767px) {
    bottom: 141px;
  }

  &__line {
    margin: 10px 20px 20px 20px;
    background-color: var(--gray-1);

    @media only screen and (min-width: 768px) {
      display: none;
    }
  }
}

.swiper {
  position: relative;
  width: 1440px;
  padding: 0 80px;
  margin: 0;

  @media only screen and (max-width: 767px) {
    padding: 0 20px;
  }

  &__next {
    filter: opacity(40%);
  }
}

.slide {
  display: grid;
  grid-template-rows: max-content 90px;
  gap: 15px;
  text-align: left;
  width: 166px;
  @media only screen and (max-content: 767px) {
    width: 400px;
    grid-template-rows: max-content 80px;
  }

  &__year {
    color: var(--blue-3);
    font: var(--typo-h2);
  }

  &__text {
    color: var(--blue-4);
  }
}

:global(.swiper-pagination) {
  display: none;
  @media only screen and (max-width: 767px) {
    display: block;
  }
  position: fixed;
  bottom: 32px !important;
}
:global(.swiper-pagination-bullet) {
  height: 6px;
  width: 6px;
  background-color: var(--blue-4);
}

:global(.swiper-button-next::after) {
  content: none;
}

:global(.swiper-button-disabled) {
  display: none;
}
:global(.swiper-button-prev::after) {
  content: none;
}

:global(.swiper-button-next),
:global(.swiper-button-prev) {
  @media only screen and (max-width: 767px) {
    display: none;
  }
  z-index: 10;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: var(--white-1);
  border-radius: 50%;
  box-shadow: 0px 0px 15px 0px rgba(56, 119, 238, 0.1);
  height: 40px;
  width: 40px;
  background-size: 10px;
  background-position: center;
  background-repeat: no-repeat;
}
:global(.swiper-button-prev) {
  background-image: url("./arrowLeft.svg");
  left: 10px;
}

:global(.swiper-button-next) {
  right: 40px;
  background-image: url("./arrowRight.svg");
}
