:root {
  --white-1: white;

  --blue-1: #42567a;
  --blue-2: rgba(66, 86, 122, 0.1);
  --blue-3: rgba(56, 119, 238, 1);
  --blue-4: rgba(66, 86, 122, 1);
  --blue-5: rgba(48, 62, 88, 0.5);
  --blue-6: rgba(66, 86, 122, 0.5);
  --gray-1: rgba(199, 205, 217, 1);
  --purple-1: rgb(93, 95, 239);
  --pink-1: rgb(238, 93, 168);
}
