@mixin container {
  margin: auto;
  width: 1440px;
  height: 100vh;
}

@mixin reset {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  * {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

  html,
  body {
    height: 100%;
    font-family: sans-serif;
  }

  img,
  video {
    max-width: 100%;
    height: auto;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  ul,
  ol {
    list-style: none;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
  }
}
